<md-toolbar class="md-info">
    <div class="md-toolbar-tools">
        <h2 class="md-flex" layout="row">
            <md-select ng-model="content.selected.book">
                <md-option ng-repeat="book in content.library['Torah']" value="{{book.name}}">
                  {{book.name}}:<span class="font-alef">{{book.nameHe}}</span>
                </md-option>
            </md-select>
            <md-select ng-model="content.selected.chapter">
                <md-option ng-repeat="verses in content.book_info.chapters_count|range" value="{{$index}}">
                  {{$index+1|hebnum}}:{{$index+1}}
                </md-option>
            </md-select>
        </h2>
    </div>
</md-toolbar>
<md-content layout-padding layout="row" style="position:absolute;left:0;top:0;height:100vh;width:100%;padding-top:64px;">
    <md-card id="vertical-content-container" flex="{{content.word ? 66:100}}">
        <md-card-title>
            <!-- <md-card-title-text>
                <span class="md-headline">{{content.book.sectionNames[0]}} {{(content.parseInt(content.selected_chapter) + 1)|hebnum}}</span>
            </md-card-title-text> -->
        </md-card-title>
        <md-content class="verses font-alef rtl" ng-click="content.word_click($event, $index)" style="outline: 0;">
            <div class="verse"
                 ng-repeat="verse in content.book"
                 ng-class="{'highlight': (verse.book === content.selected_book && verse.chapter === content.selected_chapter && verse.verse === content.selected_verse)}">
                    <div class="li-he-num" title="{{$index+1}}">{{verse.verse+1|hebnum}}</div>
                    <div>
                        <div class="li-he-item">
                            <span ng-repeat="(word_id, word) in verse.words track by $index"
                                  class="he-word"
                                  data-word="{{word}}"
                                  ng-class="{'hyphen': (word.word=='־'), 'verb': (word.pos=='v'), 'strong': word.strongs_num}">{{word.word}}</span>
                            <span class="he-word hyphen">׃</span>
                        </div>
                    </div>
            </div>
        </md-content>
    </md-card>
    <md-card flex class="" ng-show="content.word" md-auto-shrink>
        <md-card-title class="font-alef rtl">
            <md-card-title-text>
                <span class="md-headline">{{content.word.word}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-content class="definitions">
            <div ng-if="content.word.info.simachtani_def">
                <h3>
                    Simachtani:
                </h3>
                <div>
                    <md-divider xmd-inset></md-divider>
                    <div class="def_line pron" ng-if="content.word.info.simachtani_def.binyan">
                        <label>binyan</label><span class="def_block">{{content.word.info.simachtani_def.binyan}}</span></div>
                    <div class="def_line def" ng-if="content.word.info.simachtani_def.shoresh">
                        <label>shoresh</label><span class="def_block">{{content.word.info.simachtani_def.shoresh}}</span></div>
                </div>
            </div>
            <div ng-if="content.word.info.strongs_def">
                <h3>
                    Strong's Concordance:
                </h3>
                <div>
                    <md-divider xmd-inset></md-divider>
                    <div class="def_line nikud rtl"><span class="title">{{content.word.info.strongs_def.nikud}}</span><small>({{content.word.strongs_num}})</small></div>
                    <div class="def_line pron" ng-if="content.word.info.strongs_def.pronunciation">
                        <label>pron.</label><span class="def_block">{{content.word.info.strongs_def.pronunciation}}</span></div>
                    <div class="def_line def" ng-if="content.word.info.strongs_def.strongs_def">
                        <label>def.</label><span class="def_block">{{content.word.info.strongs_def.strongs_def}}</span></div>
                    <div class="def_line def" ng-if="content.word.info.strongs_def.strongs_def">
                        <label>kjv.</label><span class="def_block">{{content.word.info.strongs_def.kjv_def}}</span></div>
                    <div class="def_line derivation" ng-if="content.word.info.strongs_def.derivation" ng-click="content.hlink_click($event)">
                        <label>root.</label><span class="def_block">{{content.word.info.strongs_def.derivation}}</span></div>
                </div>
            </div>
            <div ng-if="content.word.info.wordforms.length">
                <h3>
                Forms:
                </h3>
                <md-divider></md-divider>
                <div class="word_forms rtl" ng-click="content.word_click($event, $index)">
                    <span class="he-word" ng-repeat="word_form in content.word.info.wordforms">{{word_form.nikud}}</span>
                </div>
                <md-divider></md-divider>
            </div>
            <div ng-if="content.word.info.verses.length">
                <h3>
                Word found in:
            </h3>
                <md-divider></md-divider>
                <div class="definitions concordance">
                    <div class="def_line def he-word"
                         ng-repeat="inst in content.word.info.verses"
                         ng-click="content.selected_book=inst.book;content.selected_chapter=inst.chapter;content.selected_verse=inst.verse;">
                        <div style="display:inline-block;">{{inst.book}}:<span class="rtl font-aleph">{{inst.book_he}}</span></div>
                        {{inst.chapter+1}}:{{inst.verse+1}}
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
        </md-content>
    </md-card>
</md-content>
<style>

</style>
