Flask==0.10.1
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.1
Flask-WhooshAlchemy==0.56
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.9
Werkzeug==0.10.4
Whoosh==2.7.0
argparse==1.2.1
blinker==1.4
decorator==4.0.4
ipdb==0.8.1
ipython==4.0.1
ipython-genutils==0.1.0
itsdangerous==0.24
mimerender==0.5.5
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
python-dateutil==2.4.2
python-mimeparse==0.1.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
wsgiref==0.1.2
